<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>Clover</string>
		<key>xG</key>
		<integer>3</integer>
		<key>V</key>
		<array>
			<array>
				<string>282</string>
				<string>84.5</string>
			</array>
			<array>
				<string>350.5</string>
				<string>153</string>
			</array>
			<array>
				<string>216</string>
				<string>153</string>
			</array>
			<array>
				<string>282</string>
				<string>221</string>
			</array>
		</array>
		<key>E</key>
		<array>
			<array>
				<integer>0</integer>
				<integer>1</integer>
			</array>
			<array>
				<integer>1</integer>
				<integer>3</integer>
			</array>
			<array>
				<integer>3</integer>
				<integer>0</integer>
			</array>
			<array>
				<integer>3</integer>
				<integer>2</integer>
			</array>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Brinkmann</string>
		<key>xG</key>
		<integer>2</integer>
		<key>V</key>
		<array>
			<array>
				<string>511.000000</string>
				<string>415.000000</string>
			</array>
			<array>
				<string>426.000000</string>
				<string>437.500000</string>
			</array>
			<array>
				<string>346.000000</string>
				<string>440.000000</string>
			</array>
			<array>
				<string>266.000000</string>
				<string>437.500000</string>
			</array>
			<array>
				<string>176.000000</string>
				<string>420.000000</string>
			</array>
			<array>
				<string>426.000000</string>
				<string>527.500000</string>
			</array>
			<array>
				<string>346.000000</string>
				<string>474.746155</string>
			</array>
			<array>
				<string>296.000000</string>
				<string>415.000000</string>
			</array>
			<array>
				<string>239.253174</string>
				<string>352.500000</string>
			</array>
			<array>
				<string>209.398163</string>
				<string>262.500000</string>
			</array>
			<array>
				<string>375.608398</string>
				<string>309.000000</string>
			</array>
			<array>
				<string>299.398163</string>
				<string>279.000000</string>
			</array>
			<array>
				<string>395.398163</string>
				<string>279.000000</string>
			</array>
			<array>
				<string>315.963623</string>
				<string>309.000000</string>
			</array>
			<array>
				<string>479.398163</string>
				<string>262.500000</string>
			</array>
			<array>
				<string>453.500000</string>
				<string>352.500000</string>
			</array>
			<array>
				<string>401.000000</string>
				<string>415.000000</string>
			</array>
			<array>
				<string>266.000000</string>
				<string>527.500000</string>
			</array>
			<array>
				<string>346.000000</string>
				<string>179.500000</string>
			</array>
			<array>
				<string>416.000000</string>
				<string>359.500000</string>
			</array>
			<array>
				<string>277.608398</string>
				<string>359.500000</string>
			</array>
		</array>
		<key>E</key>
		<array>
			<array>
				<integer>10</integer>
				<integer>11</integer>
			</array>
			<array>
				<integer>11</integer>
				<integer>9</integer>
			</array>
			<array>
				<integer>5</integer>
				<integer>6</integer>
			</array>
			<array>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<array>
				<integer>7</integer>
				<integer>8</integer>
			</array>
			<array>
				<integer>8</integer>
				<integer>9</integer>
			</array>
			<array>
				<integer>4</integer>
				<integer>3</integer>
			</array>
			<array>
				<integer>3</integer>
				<integer>2</integer>
			</array>
			<array>
				<integer>2</integer>
				<integer>1</integer>
			</array>
			<array>
				<integer>1</integer>
				<integer>0</integer>
			</array>
			<array>
				<integer>17</integer>
				<integer>6</integer>
			</array>
			<array>
				<integer>6</integer>
				<integer>16</integer>
			</array>
			<array>
				<integer>16</integer>
				<integer>15</integer>
			</array>
			<array>
				<integer>15</integer>
				<integer>14</integer>
			</array>
			<array>
				<integer>13</integer>
				<integer>12</integer>
			</array>
			<array>
				<integer>12</integer>
				<integer>14</integer>
			</array>
			<array>
				<integer>18</integer>
				<integer>12</integer>
			</array>
			<array>
				<integer>12</integer>
				<integer>19</integer>
			</array>
			<array>
				<integer>0</integer>
				<integer>15</integer>
			</array>
			<array>
				<integer>15</integer>
				<integer>10</integer>
			</array>
			<array>
				<integer>19</integer>
				<integer>1</integer>
			</array>
			<array>
				<integer>1</integer>
				<integer>5</integer>
			</array>
			<array>
				<integer>17</integer>
				<integer>3</integer>
			</array>
			<array>
				<integer>3</integer>
				<integer>20</integer>
			</array>
			<array>
				<integer>20</integer>
				<integer>11</integer>
			</array>
			<array>
				<integer>11</integer>
				<integer>18</integer>
			</array>
			<array>
				<integer>4</integer>
				<integer>8</integer>
			</array>
			<array>
				<integer>8</integer>
				<integer>13</integer>
			</array>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Chvatal</string>
		<key>xG</key>
		<integer>4</integer>
		<key>V</key>
        <array>
            <array>
                <string>293.000000</string>
                <string>216.000000</string>
            </array>
            <array>
                <string>358.000000</string>
                <string>216.000000</string>
            </array>
            <array>
                <string>293.000000</string>
                <string>374.000000</string>
            </array>
            <array>
                <string>358.000000</string>
                <string>374.000000</string>
            </array>
            <array>
                <string>250.000000</string>
                <string>264.000000</string>
            </array>
            <array>
                <string>250.000000</string>
                <string>331.000000</string>
            </array>
            <array>
                <string>402.000000</string>
                <string>264.000000</string>
            </array>
            <array>
                <string>402.000000</string>
                <string>331.000000</string>
            </array>
            <array>
                <string>203.000000</string>
                <string>180.000000</string>
            </array>
            <array>
                <string>448.000000</string>
                <string>180.000000</string>
            </array>
            <array>
                <string>203.000000</string>
                <string>416.000000</string>
            </array>
            <array>
                <string>448.000000</string>
                <string>416.000000</string>
            </array>
        </array>
        <key>E</key>
        <array>
            <array>
                <integer>9</integer>
                <integer>8</integer>
            </array>
            <array>
                <integer>8</integer>
                <integer>10</integer>
            </array>
            <array>
                <integer>10</integer>
                <integer>11</integer>
            </array>
            <array>
                <integer>11</integer>
                <integer>9</integer>
            </array>
            <array>
                <integer>9</integer>
                <integer>1</integer>
            </array>
            <array>
                <integer>9</integer>
                <integer>6</integer>
            </array>
            <array>
                <integer>8</integer>
                <integer>0</integer>
            </array>
            <array>
                <integer>8</integer>
                <integer>4</integer>
            </array>
            <array>
                <integer>0</integer>
                <integer>1</integer>
            </array>
            <array>
                <integer>11</integer>
                <integer>7</integer>
            </array>
            <array>
                <integer>11</integer>
                <integer>3</integer>
            </array>
            <array>
                <integer>10</integer>
                <integer>2</integer>
            </array>
            <array>
                <integer>10</integer>
                <integer>5</integer>
            </array>
            <array>
                <integer>2</integer>
                <integer>3</integer>
            </array>
            <array>
                <integer>7</integer>
                <integer>6</integer>
            </array>
            <array>
                <integer>4</integer>
                <integer>5</integer>
            </array>
            <array>
                <integer>4</integer>
                <integer>7</integer>
            </array>
            <array>
                <integer>6</integer>
                <integer>5</integer>
            </array>
            <array>
                <integer>3</integer>
                <integer>0</integer>
            </array>
            <array>
                <integer>1</integer>
                <integer>2</integer>
            </array>
            <array>
                <integer>5</integer>
                <integer>1</integer>
            </array>
            <array>
                <integer>7</integer>
                <integer>0</integer>
            </array>
            <array>
                <integer>6</integer>
                <integer>2</integer>
            </array>
            <array>
                <integer>4</integer>
                <integer>3</integer>
            </array>
		</array>
	</dict>
</array>
</plist>
